In [20]:
#!pip install pandas 
import pandas as pd
import numpy as np
rand_values= np.random.rand(100)
print(rand_values)
this_dict={
    "ashu": 100,
    "raja": 200000,
    "ajas": 300
}
df = pd.DataFrame(this_dict.items())
df.columns=["Name","Salary"]
df["status"] = 0 
df

[0.89853254 0.16746484 0.32126083 0.34857224 0.13346021 0.5650069
 0.58895067 0.33066564 0.73761359 0.38914356 0.53296841 0.27606869
 0.32592394 0.94585303 0.0032882  0.44140042 0.6159756  0.55210704
 0.75747618 0.84401486 0.5613527  0.96450358 0.24333407 0.43457498
 0.86824798 0.33081148 0.52747185 0.85446813 0.65145916 0.75207294
 0.47927747 0.85026663 0.26447832 0.63976288 0.96479356 0.12729227
 0.77065222 0.79882096 0.99565392 0.16318754 0.42019765 0.077112
 0.97731933 0.15603393 0.36438262 0.66384679 0.90510651 0.70135986
 0.32888058 0.84454804 0.4086706  0.30103257 0.49234414 0.44260864
 0.41503848 0.34831154 0.09502828 0.32784532 0.99852886 0.29863502
 0.6471082  0.60478858 0.04976162 0.72376411 0.35829513 0.69210959
 0.41502557 0.62955452 0.29081623 0.56872931 0.29288051 0.80269048
 0.42049071 0.01887078 0.48936422 0.49893328 0.528873   0.04057738
 0.31006055 0.06227493 0.52488522 0.91890139 0.59069757 0.08542143
 0.94541059 0.05286879 0.04250175 0.19628615 0.47162951 0.36781388
 0.95730051 0.58213626 0.99441797 0.59730522 0.78735414 0.60172786
 0.61812366 0.21682854 0.7521469  0.73126426]

   Name  Salary  status
0  ashu     100       0
1  raja  200000       0
2  ajas     300       0

In [21]:
min_value = rand_values[0]
for i in range(len(rand_values)):
    if rand_values[i]< min_value:
        min_value = rand_values[i]
min_value

0.0032882044078463846

In [16]:
 df.loc[df["Salary"]< 200,"status"]= "low"
 df.loc[df["Salary"]== 200,"status"]= "medium"
 df.loc[df["Salary"]> 200,"status"]= "high"
df

   Name  Salary  status
0  ashu     100     low
1  raja     200  medium
2  ajas     300    high

In [22]:
import statistics
median_value=[10, 20, 30, 40, 50, 15, 21]
statistics.median(median_value)
# low, low, high, high, low

21

In [23]:
items = [1,2,3,4,5,6,7]
statistics.median(items)

4

In [9]:
#input =[1,1,0,0,0,0,0,0,0,0]
input_values = input("Enter the list of values")
input_values = input_values.split(",")
print(int(input_values))
#print([input_values])
# count=0
# for i in input:
#     if i == 1:
#         count=count+1

# if(count%2)==0:
#     print("0")
# else:
#     print("1")

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'